.big-slider, .big-slider-wrapper {
  height: 570px;
  overflow: hidden; }

.bid-slider-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .bid-slider-wrapper .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    width: 100%;
    text-align: center;
    z-index: 10;
    position: absolute; }
    .bid-slider-wrapper .pagination .prev {
      display: block;
      height: 50px;
      width: 50px;
      border: 1px solid white;
      border-radius: 50px;
      z-index: 100;
      padding: 10px;
      transform: scaleX(-1);
      cursor: pointer; }
    .bid-slider-wrapper .pagination .prev:hover {
      background-color: white; }
    .bid-slider-wrapper .pagination .prev svg:hover {
      fill: black; }
    .bid-slider-wrapper .pagination .next {
      display: block;
      height: 50px;
      width: 50px;
      border: 1px solid white;
      border-radius: 50px;
      z-index: 100;
      padding: 10px;
      cursor: pointer; }
    .bid-slider-wrapper .pagination .next:hover {
      background-color: white; }
    .bid-slider-wrapper .pagination .next svg:hover {
      fill: black; }
    .bid-slider-wrapper .pagination .column {
      width: 50%;
      justify-content: space-around; }
  .bid-slider-wrapper h1 {
    color: #ffffff;
    font-family: "GothamProRegular", sans-serif;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.25px;
    margin: 0; }
  .bid-slider-wrapper p {
    color: #ffffff;
    font-family: "GothamProRegular", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.42px; }
  .bid-slider-wrapper button {
    width: 170px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: #646464;
    color: #ffffff;
    font-family: "GothamProRegular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    cursor: pointer; }

::selection {
  background: transparent; }

::-moz-selection {
  background: transparent; }

body {
  font-family: "GothamProRegular", sans-serif;
  color: #5a5a5a; }

.column {
  display: flex;
  flex-direction: column; }

.row {
  display: flex;
  flex-direction: row; }

.center {
  align-items: center;
  justify-content: center; }

.right {
  align-items: flex-end;
  justify-content: flex-end; }

.left {
  align-items: flex-start;
  justify-content: flex-start; }

.items-wrapper {
  width: 968px; }
  .items-wrapper .row {
    justify-content: space-between; }
  .items-wrapper h3 {
    justify-content: center !important; }

.item {
  width: 300px;
  letter-spacing: 1px;
  line-height: 20px; }

.article-wrapper {
  width: 60%; }
  .article-wrapper h2 {
    color: #646464;
    font-family: "GothamProRegular", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.72px; }

.article-wrapper h3, .article-wrapper p {
  letter-spacing: 1px;
  line-height: 20px; }

.article-wrapper h3 {
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #646464;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: uppercase; }
  .article-wrapper h3 p {
    font-weight: 400;
    letter-spacing: 0.48px;
    color: #5a5a5a; }
  .article-wrapper h3 a:hover {
    color: #878be4; }

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic/GothamProItalic.eot");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProBoldItalic";
  src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "GothamProBlackItalic";
  src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
  font-style: normal;
  font-weight: normal; }

#map {
  height: 600px;
  width: 100%; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  height: 80px; }
  header h2 {
    color: #646464;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.54px; }

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row; }
  nav ul a {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.42px;
    text-decoration: none;
    margin: 0 15px 0 15px; }
    nav ul a:hover {
      cursor: pointer;
      color: #545ad8; }

.logo {
  width: 70px;
  margin: 20px; }
  .logo a {
    text-decoration: none; }
    .logo a:hover {
      color: #646464; }

.little-slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .little-slider-wrapper .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .little-slider-wrapper .little-slider {
    max-width: 968px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .little-slider-wrapper .prev-little {
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50px;
    z-index: 100;
    padding: 10px;
    transform: scaleX(-1);
    cursor: pointer; }
  .little-slider-wrapper .prev-little:hover {
    background-color: black; }
  .little-slider-wrapper .prev-little svg:hover {
    fill: white; }
  .little-slider-wrapper .next-little {
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50px;
    z-index: 100;
    padding: 10px;
    cursor: pointer; }
  .little-slider-wrapper .next-little:hover {
    background-color: black; }
  .little-slider-wrapper .next-little svg:hover {
    fill: white; }

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

#modal_form {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  display: none;
  opacity: 0;
  z-index: 200;
  padding: 20px 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  #modal_form h3 {
    color: #646464;
    font-family: "GothamProRegular", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.54px; }
  #modal_form button {
    width: 170px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: #646464;
    text-transform: uppercase;
    color: white;
    cursor: pointer; }

#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block; }

#overlay {
  z-index: 150;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }
