.little-slider-wrapper
  & .inner-little-slider-wrapper
    @include flex-row-space-around-center
    @include respond-to($phone)
      flex-direction: column
    @include respond-to($tablet-landscape)

  & .little-slider
    max-width: 968px
    width: 70%
    display: flex
    flex-direction: row
    justify-content: space-between
    @include respond-to($phone)

    @include respond-to($tablet-landscape)
    & div
      display: flex
      flex-direction: row

      align-items: center
    & img
      width: 70%

  & .prev-little
    display: block
    height: 30px
    width: 30px
    border: 1px solid black
    border-radius: 50px
    z-index: 100
    padding: 10px
    transform: scaleX(-1)
    cursor: pointer
    @include respond-to($phone)
      order: 1
    @include respond-to($tablet-landscape)
  & .prev-little:hover
    background-color: black
  & .prev-little svg:hover
    fill: white
  & .next-little
    display: block
    height: 30px
    width: 30px
    border: 1px solid black
    border-radius: 50px
    z-index: 100
    padding: 10px
    cursor: pointer
    @include respond-to($phone)

    @include respond-to($tablet-landscape)
  & .next-little:hover
    background-color: black
  & .next-little svg:hover
    fill: white
.slick-slide, .slick-current, .slick-active
  display: flex!important
  flex-direction: column!important